@font-face {
    font-family: spiritual-mountain;
    src: url(/assets/Spiritual\ Mountain.ttf);
}
@font-face {
    font-family: lous-george-cafe-bold-italic;
    src: url(/assets/Louis\ George\ Cafe\ Bold\ Italic.ttf);
}
@font-face {
    font-family: lous-george-cafe-bold;
    src: url(/assets/Louis\ George\ Cafe\ Bold.ttf);
}
@font-face {
    font-family: lous-george-cafe-italic;
    src: url(/assets/Louis\ George\ Cafe\ Italic.ttf.ttf);
}
@font-face {
    font-family: lous-george-cafe-light-italic;
    src: url(/assets/Louis\ George\ Cafe\ Light\ Italic.ttf);
}
@font-face {
    font-family: lous-george-cafe-light;
    src: url(/assets/Louis\ George\ Cafe\ Light.ttf);
}
@font-face {
    font-family: lous-george-cafe;
    src: url(/assets/Louis\ George\ Cafe.ttf);
}
