::selection{
    background-color: #ffc13b;
}

#top-header-tag{

}

#logo-holder-span{
    display: inline-block;
    margin-right: 200px;
}

.header-div{
    background-color: #1e3d59;
    margin: -20px;
    margin-top: -40px;
    padding-left: 20px;
}

.text-on-page{
    color: #1e3d59;
}


#header-holder-anchor:visited,:link,:hover{
    text-decoration:none;
}


.main-title-p{
    color:#ffc13b;
    text-decoration:none;
    font-family: marcha;
    font-size: 60px;
    padding: 0;
    margin-top: 30px;
    margin-bottom:10px;
}

.menu-actor-button{
    border:none;
    border-radius: 0px;
    background-color:#1e3d5900;
    color: #ffc13b;
    font-size: 25px;
    margin-right: 100px;
}
.menu-actor-button:hover{
    cursor: pointer;
    border-bottom: 3px solid #ffc13b;
    border-right: 3px solid #ffc13b;
    border-color: #ffc13b;
    border-radius: 0px;
    font-size: 25px;
}