*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    font-size: 100%;
}
body{
    background-color: #f5f0e1;
}
::selection{
    background-color: #ffff00;
}

#top-header-tag{

}

#logo-holder-span{
    display: inline-block;
}

.header-div{
    background-color: #1e3d59;
    position: relative;
}

.text-on-page{
    color: #1e3d59;
}


a:visited,:link,:hover{
    text-decoration:none;
}


.main-title-p{
    padding-top: 10px;
    margin-left: 20px;
    color:#ffc13b;
    text-decoration:none;
    font-family: marcha;
    font-size: 60px;
}

.menu-actor-button{
    margin-left:120px;
    width:120px;
    border:none;
    border-radius: 0px;
    background-color:#1e3d5900;
    color: #ffc13b;
    font-size: 25px;
    border-bottom: 3px solid #ffc13b;
}

.menu-actor-button:hover{
    cursor: pointer;
    border-bottom: 3px solid #ffc13b;
    border-right: 3px solid #ffc13b;
    border-top: 1px solid #ffc13b;
    border-left: 1px solid #ffc13b;
    border-radius: 0px;
    font-size: 25px;
}
.menu-actor-button:active{
    cursor: pointer;
    border: 3px solid #ffc13b;
    
    border-color: #ffc13b;
    border-radius: 0px;
    font-size: 25px;
}

#header-animate-span{
    display: inline-block;
    position: relative;
    top: -25px;
    right:-295px;
    min-height: 20px;
    min-width:50px;
    background-color: #ffffff;
    transform: rotate(20deg);
    visibility: hidden;    
}
#header-animate-p{
    overflow:hidden;
}

.header-div:hover #header-animate-span{
    visibility: visible;
}

#header-animate-span:hover{
    visibility: visible;
    cursor:grab;
    
}



.hero-section{
    background-color: #ffc13b;
    min-height:650px;
}

.below-hero-section{
    min-height: 500px;
}

p.sample-p{
    float: left;
    width:50%;
    padding:20px;
}