@font-face {
    font-family: PlayfairDisplayBlack;
    src: url(assets/Playfair_Display/static/PlayfairDisplay-Black.ttf);
}
@font-face {
    font-family: SourceSansRegular;
    src: url(assets/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

:root{

    /*Assigning Variables*/

    --cyan: #00ffff;
    --magenta: #ff00ff;
    --yellow: #ffff00;
    --key: #000000;

    --heading: PlayfairDisplayBlack;
    --text: SourceSansRegular;
}

*{
   /*for everything*/
   padding: 0;
   margin: 0;
}

body{

}


.hero-div{
    /*background-color: var(--key);*/
    min-height: 200vh;
    background-image:url(/cmykdocs/assets/bg-hero.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
}
